* {
  margin: 0;
  padding: 0;
}

.body {
  width: 1440px;
  height: 800px;
}

.main {
  height: 850px;
  background-image: url(./images/bg-image-daytime.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.daylight h1 {
  color: white;
  font-size: 100px;
}
