* {
  margin: 0;
  padding: 0;
}

body {
  width: 1440px;
  height: 800px;
  background-image: url(./images/bg-image-daytime.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.quote {
  position: absolute;
  width: 573px;
  height: 125px;
  left: 165px;
  top: 56px;
  color: white;
}

.quote p {
  width: 540px;
  height: 84px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  display: flex;
  align-items: flex-end;
}

.quote h4 {
  width: 540px;
  height: 28px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;

  display: flex;
  align-items: flex-end;
}

.daylight {
  position: absolute;
  width: 1110px;
  height: 288px;
  left: 165px;
  top: 414px;
  color: white;
}

.daylight-container {
  position: absolute;
  width: 575px;
  height: 288px;
}

.daylight h1 {
  position: absolute;
  height: 200px;
  left: 0%;
  right: 15.3%;
  top: calc(50% - 200px / 2);

  font-style: normal;
  font-weight: bold;
  font-size: 200px;
  line-height: 200px;

  display: flex;
  align-items: flex-end;
  letter-spacing: -5px;
}

.daylight p {
  font-size: 20px;
  letter-spacing: 5px;
}

.currently-container {
  display: flex;
  position: absolute;
  left: 0%;
  right: 15.83%;
  top: 0%;
  bottom: 90.28%;
}

.currently p {
  position: absolute;
  height: 28px;
  left: 8.26%;
  right: 0.83%;
  top: calc(50% - 28px / 2);

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;

  display: flex;
  align-items: flex-end;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.weather-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 2px;
}

.location {
  position: absolute;
  height: 28px;
  width: 600px;
  left: 0%;
  right: 58.78%;
  top: calc(50% - 28px / 2 + 130px);

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  display: flex;
  align-items: flex-end;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.more {
  position: absolute;
  width: 146px;
  height: 56px;
  left: 1000px;
  top: 250px;
}

.more nav {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  border-radius: 28px;
}

.more a {
  position: absolute;
  height: 28px;
  left: 14.38%;
  right: 42.47%;
  top: calc(50% - 28px / 2 + 1px);

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;

  display: flex;
  align-items: flex-end;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
  mix-blend-mode: normal;
}

.cross-img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  width: 40px;
  height: 40px;
  left: 78px;
  top: -7px;
}
